body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.content {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  border: 1px solid black;
  flex: 1;
}

.sidenav {
  width: 60px;
  border: 1px solid black;
  flex-basis: 60px;
}
.chat-list {
  width: 250px;
  border: 1px solid black;
  flex-basis: 250px;
}
.chat-box {
  flex: 1 1 250px;
  border: 1px solid black;
}
.list {
  height: calc(100vh - 136px);
  overflow: auto;
}
