* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.s1 {
  background-image: url("intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.p1 {
  margin-top: 150px;
  margin-left: 40px;
}
.p2 {
  max-width: 40rem;
  margin-left: 40px;
}
.b1 {
  max-width: 150px;
  background-color: #d83933;
  border-radius: 0.25rem;
  padding: 10px 0px;
  margin-top: 20px;
  margin-left: 40px;
}
.d-flex a {
  font-weight: 800;
}
.icon1 {
  margin-left: 20px;
}
a {
  text-decoration: none;
  color: white;
}
.news-card {
  max-height: 350px;
  margin: 0;
}
.news-card1 {
  max-height: 170px;
  margin: 0;
}
.news-body {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px;
}
.article-card {
  gap: 10px;
}
.article-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.container1 {
  background-color: black;
  margin-top: 40px;
  margin-bottom: 40px;
  min-height: 600px;
  padding: 50px 20px;
}
.left {
  margin-top: 150px;
}
.card {
  height: 400px;
  max-width: 280px;
  margin: 0;
}
.card-body {
  bottom: 0;
  left: 0;
  padding: 30px;
  gap: 20px;
}
.sec1 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.1)
    ),
    url("sec1.jpg");
  background-size: cover;
  min-height: 100vh;
  padding: 50px;
}
.cont1 {
  max-width: 90%;
  width: auto;
}
.cont1 p {
  max-width: 400px;
}
.cont1 p,
.cont1 h1,
.cont1 a {
  margin-bottom: 30px;
}
.sec {
  background-image: url("f.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 50px;
  margin-top: 50px;
}
.cont {
  max-width: 500px;
}
.sec a {
  font-weight: bold;
  font-size: large;
}
.social {
  margin-top: 80px;
}
.social h6 {
  color: grey;
}
.icon2 {
  gap: 10px;
}
