body {
  background-color: #f7f7fa;
  display: flex;
  height: 100vh;
  margin: 0;
}
.side-bar {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  flex: 0 1 250px;
  background: #dbdddf;
  padding: 8px;
  border-right: 1px solid #ddd;
  overflow-y: scroll;
}
.side-bar .icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.side-bar .img1 {
  width: 30px;
  height: 15px;
  margin: 7px;
}
.side-bar .img2 {
  width: 30px;
  height: 30px;
  margin: 7px;
}
.chat-history {
  display: flex;
  flex-direction: column;
}
.history-day {
  display: flex;
  flex-direction: column;
}
.history-day h4 {
  margin-bottom: 3px;
  font-weight: 550;
}
.history-item {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}
.history-item:hover {
  background: #c2bcc1;
}
.container {
  display: flex;
  flex-direction: column;
  flex: 4;
}
.user-icon {
  display: flex;
  justify-content: flex-end;
}
.user-icon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 10px;
  margin-right: 10px;
}
.new-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  flex-wrap: wrap;
}
.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 40px;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid grey;
  border-radius: 1.5rem;
  width: 700px;
  height: 15vh;
  padding: 10px;
}
.box input {
  border: none;
  background-color: #f7f7fa;
  margin-bottom: 10px;
}
.bottom button {
  border: 1px solid grey;
  background-color: #f7f7fa;
  border-radius: 9999px;
  padding: 10px 15px;
}
.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 800px;
}
.buttons button {
  border: 1px solid grey;
  background-color: #f7f7fa;
  border-radius: 9999px;
  padding: 10px 15px;
}
